line-length = 80
indent-width = 4
target-version = "py310"

[lint]
select = ["E", "F", "B", "I", "N", "UP", "PL", "RUF"]
ignore = []
fixable = ["ALL"]

[format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
